.App {
  text-align: center;
  display: flex;           /* establish flex container */
  flex-direction: column;  /* make main axis vertical */
  justify-content: center; /* center items vertically, in this case */
  align-items: center;     /* center items horizontally, in this case */
}

.App-link {
  color: #61dafb;
}

.tableWrapper {
  overflow: auto;
  width: 80%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.btn-group {
  display: flex;
  flex-direction: row;
}

button {
  display: block;
  background-color: #333;
  width: 100px;
  height: 100px;
  border: 0;
  margin: 10px;
  color: #fff;
  font-size: 2.5rem;
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */
  padding: 0;
  text-align: center;
}
button:hover {
  background-color: #999;
}

.btn-stop {
 width: 340px;
}

.videostream-camera {
  width: 100%;
  height: 100%
}